/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<ALL>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

*{
	font-family: sans-serif;
	box-sizing: border-box;
	color: white;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	transition:0.5s all ease;
}

body {
	/*font-size: 0;*/
}

::-webkit-input-placeholder {
	color:white;
}

	/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<TAGS >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

}
input, textarea{
	border: 1px solid white;
	font-size: 100%;
	color: white;

}
div{
	display: inline-block;
}



/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<SPECIAL>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
input:focus, textarea:focus, option:focus{
	outline: none;
	border: 2px solid #468ABA;
}

/*input[id^="_box"]{
	background-color: #5BA3D6;
}*/

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<columnS>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/**/

.columns{
	background-color: #5BA3D6;
	width: 30%;
	display: inline-block;
	height: 1000px;	
	min-width: 200px;
	@media screen and (min-width: 480px)
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<INPUTS>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

.input-group, .input-group-options {
	background-color: #5BA3D6;
	width: 90%;
	padding: 15% 5%;
}

.input-group input,
.input-group textarea, .input-group select{
	background-color: rgba(0, 0, 0, 0);
	margin-top:10px;
	font: inherit;
	padding: 15px 5px;
	border: 1px solid white;
	color: white;
}

.input-group textarea{
	height: 150px;
}
