/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<ALL>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

*{
	/*font-size: 0;*/
	font-family: sans-serif;
	box-sizing: border-box;
	/*border: 1px solid white;*/
	color: white;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	/*transition:0.5s all ease;*/


	/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<TAGS >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
}
input{
	border: 1px solid white;
	font-size: 100%


}
div{
	display: inline-block;
}


/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< CLASSES>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

input.small{
/*background-color: yellow;*/

}

input.big{
	/*background-color: blue;*/
	height: 100px;

}

input.options{
	/*background-color: green;*/

}
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<SPECIAL>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
input:focus{
	outline: none;
	border:2px solid #468ABA;
}

input[id^="_box"]{
	background-color: #5BA3D6;
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<column 1>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
.partOne{
	background-color: #5BA3D6;
	width: 30%;
	display: inline-block;
	height: 1000px;	
	min-width: 200px;
}

#firstName{
	background-color: #5BA3D6;
	height: 20%;
	width: 90%;
	padding: 10% 10% 10% 10%;
}


#lastName{
	background-color: #5BA3D6;
	height: 20%;
	width: 90%;
	padding: 10% 10% 10% 10%;
}

#email{
	background-color: #5BA3D6;
	height: 20%;
	width: 90%;
	padding: 10% 10% 10% 10%;
}

#country{
	background-color: #5BA3D6;
	height: 20%;
	width: 90%;
	padding: 10% 10% 10% 10%;
}

#bio{
	background-color: #5BA3D6;
	height: 20%;
	width: 90%;
	padding: 10% 10% 10% 10%;
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<column 2>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

.partTwo{
	background-color: #5BA3D6;
	width: 30%;
	display: inline-block;
	height: 1000px;
	padding-left: 2%;
	min-width: 200px;
}



#phone{
	background-color: #5BA3D6;
	height: 20%;
	width: 90%;
	padding: 10% 10% 10% 10%;
}

#affiliations{
	background-color: #5BA3D6;
	height: 20%;
	width: 90%;
	padding: 10% 10% 10% 10%;
}

#occupation{
	background-color: #5BA3D6;
	height: 20%;
	width: 90%;
	padding: 10% 10% 10% 10%;
}

#catName{
	background-color: #5BA3D6;
	height: 20%;
	width: 90%;
	padding: 10% 10% 10% 10%;
}

#gadget{
	background-color: #5BA3D6;
	height: 20%;
	width: 90%;
	padding: 10% 10% 10% 10%;
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<column 3>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

.partThree{
	background-color: #5BA3D6;
	width: 30%;
	display: inline-block;
	height: 1000px;
	padding-left: 2%
	min-width: 200px;
}

#talent{
	/*background-color: black;*/
	height: 20%;
	width: 90%;
	padding: 10% 10% 10% 10%;
}

#drink{
	/*background-color: black;*/
	height: 20%;
	width: 90%;
	padding: 10% 10% 10% 10%;
}

#powers{
	/*background-color: black;*/
	height: 20%;
	width: 90%;
	padding: 10% 10% 10% 10%;
}

#weapon{
	/*background-color: black;*/
	height: 20%;
	width: 90%;
	padding: 10% 10% 10% 10%;
}

#comments{
	/*background-color: black;*/
	height: 20%;
	width: 90%;
	padding: 10% 10% 10% 10%;
}
